node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
*.out

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.tmp
*.bak
*.orig

package-lock.json
yarn.lock
pnpm-lock.yaml

*.cache/
*.tmp/
*.temp/

.env
bin